.hero-two{
  position: relative;
  width: 100%;
  height: 70vh;
}

.hero-img-two{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  background-attachment: fixed;
}

.Title{
  color:white;
  font-size: 6rem;
  padding: 20vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.web-link-btn{
  width:calc(8vw + 1px);
  height:calc(3vw + 1px);
  background-image: linear-gradient(90deg, #e5e8eb 0%, #9e9d9a 49%, #4d4a4a7c 80%, #ebeff0 100%);
  font-size:1.5rem;
  font-weight:bolder;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.web-link-btn:hover{
  animation:slidebg 2s linear infinite;
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}





@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    .Title{
      font-size: 2.7rem;
      padding: 10vh;
    }
    .web-link-btn{
      width:20vw;
      height:7vw;
      font-size: 1rem;
    }
    
  }