* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.App {
  background-color: black;
}

html {
  background-color: black;
  font-size: 62.5%;
}

.hero {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.hero-title {
  position: absolute;
  bottom: 67%;
  color: white;
  font-size: 6rem;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: sticky;
  top: 0px;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  margin-bottom: -70px;
  z-index: 5;
}

.navbar-logo {
  color: white;
  font-family: "MonteCarlo", cursive;
  font-size: 4rem;
}

.navbar-list {
  display: flex;
  list-style: none;
}
.navbar-list .navbar-item {
  white-space: nowrap;
}
.navbar-list .navbar-link {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0px 5px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: transparent;
  transition: 250ms;
}
.navbar-list .navbar-link:hover {
  border-color: white;
  transition: 250ms;
}

.navBar-Menu {
  color: white;
  cursor: pointer;
  display: none;
}

.fig-con {
  display: flex;
  justify-content: center;
}

.arrow-down {
  color: white;
  position: absolute;
  bottom: 5%;
  font-size: 11rem;
  padding: 15px;
}

.up-cont {
  display: flex;
  justify-content: center;
}

.up {
  color: white;
  font-size: 11rem;
  padding: 15px;
  cursor: pointer;
}

.slider {
  display: flex;
  align-items: center;
  margin: 20px;
  opacity: 0%;
  transform: scale(85%);
  transition: 2s;
}

.slider-zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 2s;
}

.imgOne {
  width: 40%;
}

.slider-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: whitesmoke;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .slider-info {
    font-size: 1rem;
  }
}
.hero-two {
  position: relative;
  width: 100%;
  height: 70vh;
}

.hero-img-two {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  background-attachment: fixed;
}

.Title {
  color: white;
  font-size: 6rem;
  padding: 20vh;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.web-link-btn {
  width: calc(8vw + 1px);
  height: calc(3vw + 1px);
  background-image: linear-gradient(90deg, #e5e8eb 0%, #9e9d9a 49%, #4d4a4a7c 80%, #ebeff0 100%);
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.web-link-btn:hover {
  animation: slidebg 4s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
.project-title {
  font-size: 3.5rem;
}

@media screen and (max-width: 820px) {
  .navbar {
    background-color: black;
    opacity: 1;
  }

  .navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 300px;
    transition: all 0.5;
  }

  .navbar-list_active {
    left: 0;
  }

  .navbar-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    flex: 1;
  }

  .navbar-link {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-radius: 0%;
    background-color: black;
    opacity: 1;
  }

  .navbar-link:hover {
    text-decoration: underline;
  }

  .navBar-Menu {
    display: block;
  }

  .hero-title {
    font-size: 5rem;
    right: 10%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .hero-title {
    font-size: 2.6rem;
    right: 5%;
    bottom: 65%;
  }

  .up {
    font-size: 9rem;
  }

  .arrow-down {
    display: none;
  }

  .hero-img {
    width: 420px;
    height: 400px;
  }

  .hero {
    position: relative;
    width: 390px;
    height: 400px;
  }

  .project-title {
    font-size: 2rem;
  }

  .web-link-btn {
    width: 20vw;
    height: 6vw;
    font-size: 1rem;
  }

  .Title {
    font-size: 3rem;
    padding: 11vh;
  }

  .slider-sub {
    font-size: 1rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .web-link-btn {
    width: 15vw;
    height: 5vw;
    font-size: 1.5rem;
  }

  .slider-sub {
    font-size: 2rem;
  }

  .slider-title {
    font-size: 4rem;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .Title {
    font-size: 2.7rem;
    padding: 10vh;
  }

  .web-link-btn {
    width: 20vw;
    height: 7vw;
    font-size: 1rem;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .slider-sub {
    font-size: 2rem;
  }

  .slider-title {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=App.css.map */
